footer{
    width: 100%;
    background-color: #034C5C;

    display: grid;
    grid-template-rows: 69% 1% 30%;

    padding: 2vw 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;

    height: 35vw;
    min-height: 400px;
}

.footer__textos{
    display: flex;
    padding: 1vw 2vw;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    width: 94vw;
    gap: 6vw;
}

.footer__textos ul{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.footer__textos h1{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Megrim;
    font-size: clamp(2.5rem, 2.384rem + 0.617vw, 3.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.footer__textos h2{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: clamp(0.938rem, 0.822rem + 0.617vw, 1.563rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.footer__textos__logo__redes{
    font-size: clamp(1.25rem, 1.134rem + 0.617vw, 1.875rem);
}

.footer__textos__logo__redes a{
    margin-right: 1vw;
}

.footer__textos li{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Text single/200/Regular */
    font-family: DM Sans;
    font-size: clamp(0.938rem, 0.903rem + 0.185vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal; /* 100% */
    margin-bottom: 1.2vw;
    cursor: pointer;
}

.footer__textos li h3{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Text single/300/Bold */
    font-family: DM Sans;
    font-size: clamp(0.938rem, 0.88rem + 0.309vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal; /* 100% */
}



.footer__divisoria{
    width: 100%;
    height: 1px;
    background-color: #FFF;
}



.footer__bottom{
    color: #F7F6FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Text single/200/Regular */
    font-family: DM Sans;
    font-size: clamp(0.938rem, 0.88rem + 0.309vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal; /* 100% */
}




@media only screen and (max-width: 600px) {
    footer{
        height: 130vh;
    }



    .footer__textos{
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

}